<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.push_up.guide" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Push-Up"
        android:theme="@style/AppTheme" >
        <activity android:name="com.android.push_up.start.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.push_up.login_register.LoginActivity" >
        </activity>
        <activity android:name="com.android.push_up.login_register.RegisterActivity">
        </activity>
        <activity android:name=".GuideActivity" >
        </activity>
        <activity android:name="com.android.push_up.home.HomeActivity" android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity android:name="com.android.push_up.count.CountActivity" >
        </activity>
        <activity android:name="com.android.push_up.gif.GifActivity" >
        </activity>
        <activity android:name="com.android.push_up.count.PlanCountActivity" >
        </activity>
        <activity android:name="com.android.push_up.alarm.AlarmActivity" >
        </activity>
        <activity android:name="com.android.push_up.share.ShareActivity" >
        </activity>
        <activity android:name="com.android.push_up.count.QueryDataActivity" >
        </activity>
        <activity android:name="com.android.push_up.count.MyPlanActivity" >
        </activity>
        <activity android:name="com.android.push_up.count.DietPlanActivity" >
        </activity>
        <activity android:name="com.android.push_up.home.MatterActivity" >
        </activity>

        <receiver android:name="com.android.push_up.alarm.AlarmReceiver" >
            <intent-filter>
                <action
                    android:name="com.android.push_up.alert.AlarmReceiver"
                    android:enabled="true" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
