<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.push_up.guide" >

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Push-Up"
        android:theme="@style/AppTheme" >
        <activity android:name=".GuideActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.push_up.home.HomeActivity" >
        </activity>
        <activity android:name="com.android.push_up.count.CountActivity" >
        </activity>
        <activity android:name="com.android.push_up.gif.GifActivity" >
        </activity>
        <activity android:name="com.android.push_up.count.PlanCountActivity" >
        </activity>
        <activity android:name="com.android.push_up.alert.AlarmActivity" >
        </activity>

        <receiver android:name="com.android.push_up.alert.AlarmReceiver">
            <intent-filter>
                <action android:name="com.android.push_up.alert.AlarmReceiver" android:enabled="true"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
